
.card {
    position: relative;
    background-image: url('/images/background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
}

.card-header,
.card-body {
    background: rgba(0, 0, 0, 0.6);
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.custom-animate {
    animation: slideIn 1s ease-in-out;
}

.custom-title {
    color: black;
    padding: 5px 10px;
    border-radius: 5px;
    background: linear-gradient(to right, #9b5b9a, #9b5b9a 10%, rgba(0, 0, 0, 0));
}
